container_commands:
  01_delete_init_groovy:
    command: "rm -f /var/jenkins_home/init.groovy.d/init.groovy"
    ignoreErrors: true
  02_delete_ec2_init_groovy:
    command: "rm -f /var/jenkins_home/init.groovy.d/init-ec2.groovy"
    ignoreErrors: true
  03_add_privileged:
    cwd: /tmp
    command: 'sed -i "s/docker run -d/docker run --privileged -d/" /opt/elasticbeanstalk/hooks/appdeploy/enact/00run.sh'
